@import "variables";

.breadCrumbBG {
  background: 100% $breadCrumbBGColor;
}

.breadCrumb {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
  & .newArrival {
    width: 176px;
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 10px;
  }
  &Link {
    width: 220px;
    height: 11px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    & a {
      color: $breadCrumbColorLink;
      text-decoration: none;
      margin-left: 5px;
      &:last-child {
        color: $breadCrumbColorHoverLink;
        font-weight: 700;
      }
      &:hover {
        color: $breadCrumbColorHoverLink;
      }
    }
  }
}




