$fontColor: #222222;


$colorButtonBG: #f16d7f;
$colorButtonBGHover: #ef5b70;
$colorButtonBorder: #ef5b70;
$colorButtonText: #ef5b70;
$colorFont: #f16d7f;
$colorBG: #f16d7f;
$colorProductHover: #ffffff;
$colorIconBGHover: #f16d7f;
$colorSliderBGSinglePage: #f7f7f7;
$colorHeaderCartOutline: #cccccc;
$colorLinkHeader: #222222;
$colorLinkHeaderHover: #f16d7f;
$colorTopNavLinkHover: #f16d7f;

$breadCrumbColorLink: #636363;
$breadCrumbColorHoverLink: #f16d7f;
$breadCrumbBGColor: #f8f3f4;